@font-face {
  font-family: "Catamaran";
  src: url(../fonts/Catamaran/Catamaran-Medium.ttf);
}
@font-face {
  font-family: "Catamaran";
  font-weight: 100;
  src: url(../fonts/Catamaran/Catamaran-ExtraLight.ttf);
}
@font-face {
  font-family: "Catamaran";
  font-weight: 200;
  src: url(../fonts/Catamaran/Catamaran-Light.ttf);
}
@font-face {
  font-family: "Catamaran";
  font-weight: 600;
  src: url(../fonts/Catamaran/Catamaran-SemiBold.ttf);
}
@font-face {
  font-family: "Catamaran";
  font-weight: 900;
  src: url(../fonts/Catamaran/Catamaran-Bold.ttf);
}
* {
  box-sizing: border-box;
  font-family: "Catamaran";
}
:focus {
  outline: 0px;
}
html, body{
  width: 100%;
  font-family: "Catamaran";
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}
.mobile-header {
  display: none;
}
.mobile-cancel {
  display: none;
}
header {
  position: absolute;
  background: transparent;
  color: #fafafa;
  width: 100%;
  z-index: 100;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  top: 26px;
}

header nav {
  align-self: flex-start;
}
header ul {
  margin: 0px;
  padding-left: 50px;
  list-style-type: none;
}

header ul li {
  display: inline-block;
  padding: 12px;
  transition: 1000ms all;
  cursor: pointer;
}

header button {
  border-radius: 25px;
  padding: 15px 30px;
  border: none;
  color: #FAFAFA;
  background: rgba(255, 255, 255, 0.2);
}

.hero {
  height: 500px;
  padding-top: 150px;
  position: relative;
  background: linear-gradient(180deg, #EB5757 0%, #D59152 100%);
}
.hero * {
  text-align: center;
  display: block;
  margin: auto;
  color: #FAFAFA;
}
.hero h1 {
  padding: 50px;
  padding: 40px 0px;
  font-size: 3.3rem;
  line-height: 60px;
  width: 55%;
  margin: auto;
  font-weight: 900;
}
.hero .search {
  position: absolute;
  bottom: -40px;
  left: 30%;
  width: 45%;
}
.hero .search label {
  font-size: 1.2rem;
}
.hero .search #search-box {
  height: 80px;
  font-size: 1.2rem;
  width: 100%;
  margin-top:20px;
  border: 3px solid #F2994A;
  border-radius: 40px;
  padding: 20px;
  color: #C3C0C0;
}
.hero .search #search-box::-moz-placeholder {
  color: #C3C0C0;
}
.hero .search #search-box::-webkit-input-placeholder {
  color: #C3C0C0;
}
  
.about-arinka {
  margin: auto;
  margin-top: 180px;
  width: 65%;
  font-weight: 600;
}

.about-arinka * {
  text-align: center;
  font-size: 1.47rem;
}

.about-arinka h3 {
  font-family: Catamaran;
  font-weight: 900;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: #C3C0C0;
  padding-bottom: 50px;
}

.locations {
  width: 80%;
  margin: auto;
  padding: 100px 0px;
  display: flex;
  justify-content: space-around;
}
.popular-locations .location {
  height: 350px;
  width: 28%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #EFEFEF;
  border-radius: 5px;
}

.popular-locations .location .wrapper {
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  background-color: rgba(0,0,0,0.45);
  padding: 20px;
  height: 100%;
  width: 100%;
}
.popular-locations .location h3 {
  text-align: left;
  font-weight: 600;
  width: 100%;
  font-size: 1.8rem;
  color: #FFFFFF;
}
.popular-locations .location p {
  text-align: left;
  font-size: 1.1rem;
  color: #D78E52;
}
.popular-locations .location#bauchi {
  background-image: url("../images/bauchi.jpg")
}
.popular-locations .location#jos {
  background-image: url("../images/jos.jpg")
}
.popular-locations .location#abuja {
  background-image: url("../images/abuja.jpg")
}

.popular-locations .clear-button {
  margin: auto;
  display: block;
  padding: 15px 40px;
  letter-spacing: 0.15rem;
  font-size: 1.05rem;
  font-weight: 600;
  background-color: transparent;
  border: 2px solid #E36F55;
  color: #E36F55;
  cursor: pointer;
  margin-bottom: 90px;
  border-radius: 30px; 
}

.on-the-blog {
  position: relative;
  height: 450px;
  background: url("../images/on-the-blog.jpg");
  background-position: center;
  background-size: cover;
}
.on-the-blog .absolute {
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  top: 0;
  padding-left: 150px;
  height: 100%;
  width: 45%;
  background: linear-gradient(#E36E55, #D78F52);
}
.on-the-blog .absolute h5 {
  color: #FEBE61;
}
.on-the-blog .absolute h1 {
  font-size: 4rem;
  line-height: 60px;
  color: #FAFAFA;
}

footer {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .hero h1 {
    width: 70%;
    font-size: 2.5rem;
  }
  .hero .search {
    bottom: -40px;
    left: 20%;
    width: 60%;
  }
  header.general {
    background: rgba(0,0,0,0.7);
    width: unset;
    position: fixed;
    transition: 500ms all;
    padding: 60px 80px 60px 60px;
    display: none;
    height: 100%;
    top:0;
    left: 0;
  }
  header.general h5 {
    display: none;
  }
  .general:target {
    display: block;
  }
  header.general ul {
    margin-top: 50px;
  }
  header.general ul li {
    display: block;
    padding: 20px 10px;
    cursor: pointer;
  }
  header.general button {
    margin-top: 50px;
  }
  .mobile-header {
    display: block;
  }
  .mobile-header .hamburger {
    position: absolute;
    top: 6px;
    width: 35px;
    left: 20px;
  }
  .mobile-header .hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    margin: 6px;
    transition: 300ms all;
    background-color: #FAFAFA;
    transform: rotateX(0deg);
  }
  .mobile-header .hamburger:hover span:first-of-type {
    transform: rotateZ(45deg)  translateX(6px);
  }
  .mobile-header .hamburger:hover span:nth-of-type(2) {
    display: none;
  }
  .mobile-header .hamburger:hover span:last-of-type {
    transform: rotateZ(-45deg)  translateX(6px);
  }
    
  .mobile-header h5 {
    margin: auto;
    width: fit-content;
    display: block;
  }
  .mobile-cancel {
    display: block;
    position: absolute;
    top: 10px;
    text-decoration: none;
    cursor: pointer;
    right: 30px;
    font-weight: 100;
    font-size: 3rem;
    color: #FAFAFA;
  }
  .locations {
    width: 60%;
    flex-wrap: wrap;
  }
  .locations .location {
    width: 90%;
    margin: 10px;
  }
}

@media screen and (max-width: 425px) {
  .hero {
    height: Calc(100vh + 40px);
  }
  .hero .search {
    width: 100%;
    left: 0;
  }
  .locations {
    width: 90%;
  }
}